[2022-02-08 18:46] JamieDriver commented on #568
I'll try to take a look - but the jade fw and the qemu emulator are both built by `setup_environment.sh` in the normal test docker image.
[code]
Ok, my bad - I did indeed add those!   You got me.

[2022-02-08 19:17] Sjors commented on #568
Guess I'll just install the whole kitchen skink https://github.com/bitcoin-core/HWI/blob/0d846a64967697eacd999cf7967fc6a5ba5b6282/ci/cirrus.Dockerfile#L5-L38 but it's nice to have a more narrow list.

[2022-02-09 17:54] JamieDriver commented on #568
Hi @Sjors,
I've added a section to the test/README.md - I hope it is sufficient.
Let me know if not - happy to iterate until we get it right!
Cheers,
Jamie.

[2022-02-10 08:06] Sjors opened #574 "test: unable to build Jade emulator on Ubuntu 21.10"
This might need something similar to https://github.com/bitcoin-core/HWI/pull/565/commits/22fcbd92a0309d397543bf7b3ffb5d97ba504924

[code]

cc @JamieDriver

[2022-02-10 17:35] achow101 commented on #569
You need to install several additional python packages for speculos to work:

    pip install construct flask-restful jsonschema mnemonic pyelftools pillow requests

[2022-02-10 17:55] Sjors commented on #569
That results in a flood of "Requirement already satisfied", but maybe I installed these in the interim. Tests are running now.

[2022-02-11 09:36] St333p opened #575 "FloatOperation in btchipHelpers.py"
Importing `HWI` in my project causes a crash caused by a `decimal.Decimal.FloatOperation` on line 24 of `hwilib/devices/btchip/btchipHelpers.py`. It is caused by the conversion of a float into a decimal in `Decimal(1e8)`.

Since importing the library in a python shell in the same virtualenv does work correcly, the issue lies on my side and I'm currently looking into Decimal configurations in my pr

[2022-02-18 16:21] Sjors opened #576 "Ledger: improve error when Bitcoin app is not open"
On the Ledger you have to open the Bitcoin app for HWI to work. If you forget to do this the error message is not very helpful: "Could not open client or get fingerprint information: unpack requires a buffer of 1 bytes"

[2022-02-18 16:23] Sjors commented on #576
Nvm, it's a regression in #550 so I'll report there.

[2022-02-18 16:23] #576 closed

[2022-02-19 04:56] jb55 opened #578 "New tagged release version?"
I attempted to sign a psbt taproot output today with no luck on the latest released version (2.0.2). I packaged `master` in my local nixpkgs and it worked great! Perhaps it's time for another tagged release? Some distros like nixos prefer version bumps on tags instead of git commits.

Thanks!

[2022-02-19 15:36] prusnak opened #579 "update libusb1 dependency"
In setup.py we have `'libusb1>=1.7,<3',`, but recently version 3.x has been released.

We should relax the dependency to `'libusb1>=1.7,<4',`

The reason why the major version is bumped is that Py 3.6 compatibility has been dropped (as Py3.6 is EOL). See https://github.com/vpelletier/python-libusb1#300

[2022-03-03 18:37] jb55 opened #585 "Trezor1 not signing mixed taproot+wpkh inputs?"
Using bitcoin-core qt's coin selection I created 3 PSBTs: one with 3 inputs, one with 2 inputs, and one with 1 input.

In all three cases, only 1 input is signed, but individually they are signed just fine. attemping to sign the PSBT multiple times does nothing.

I don't remember this ever being an issue? perhaps something changed?

`device` `trezor1` `1.10.5`
`hwi version` `3fe369d0379212fae1c727

[2022-03-03 19:01] achow101 commented on #585
It is only signing that one particular wpkh input?

[2022-03-03 19:07] jb55 commented on #585
correct

[2022-03-03 19:11] achow101 commented on #585
Does the PSBT with 2 inputs have the two wpkhs or the one wpkh and tr?

[2022-03-03 19:28] jb55 commented on #585
Tried with only the 2 wpkh inputs and it still only signs the `m/84'/0'/4'/0/34` one.

Tried without  `m/84'/0'/4'/0/34`, with tr and `wpkh([4......b/84'/0'/4'/0/27])`, that one failed to sign any inputs

Tried `wpkh([4......b/84'/0'/4'/0/27])` by itself and it fails entirely (wtf? I've tried multiple times to confirm this as well)

Tried `wpkh(m/84'/0'/4'/0/34)` + `tr([4......b/86'/0'/0'/0/1])` a

[2022-03-03 19:29] jb55 commented on #585
ohhhh good to know

[2022-03-03 19:33] achow101 commented on #585
Does the `wpkh([4......b/84'/0'/4'/0/27])` input have BIP 32 derivation paths in the PSBT and do they look right?

[2022-03-03 19:46] jb55 commented on #585
oh nm that one was actually a taproot output as well, I was confused by the GUI!

I don't care about doxing myself here since there are just dust inputs that I was playing with when testing HWI+taproot stuff

wpkh -> taproot
https://blockstream.info/address/bc1q38cqrsmgfdp66cct2yq8eump3fn6sx2njzdpf3

tree-mode coinselection gui was showing me wpkh which was throwing me off, this is what I was look

[2022-03-03 20:25] jb55 commented on #585
@achow101 so I updated to that PR, curiously when I sign those two taproot inputs individually and together it's fine, but when I mix in the wpkh input I get this error:

[code]

and the trezor signing bar freezes. perhaps this is a trezor1 bug? @prusnak

* tr + tr work
* wpkh works
* tr + tr + wpkh fails

[2022-03-03 20:40] prusnak commented on #585
@matejcik can you please have a look at this?

[2022-03-03 20:42] prusnak commented on #585
@jb55 For non-Taproot inputs (including segwit v0) you need to provide prevtx in PSBT so Trezor can confirm the input amount. For Taproot this is not required because Taproot inputs commit to all input amounts.

[2022-03-03 20:44] achow101 commented on #585
Have you checked out the latest version of the Taproot fields PR? There was an older version (several months ago) which dropped the non_witness_utxo for any segwit input which lead to an error like the one you see. The latest version of the PR shouldn't do that anymore.

[2022-03-03 20:50] jb55 commented on #585
@achow101 derp you're right I might have pulled an older branch. will try again

[2022-03-03 20:51] jb55 commented on #585
sorry for the noise, will be back if I have any issues lol

[2022-03-03 20:51] #585 closed

[2022-03-07 14:37] mmilata commented on #570
As long as you don't need to cross-compile the actual firmware any rust >= 1.58 should work.

[2022-03-11 12:29] jjakob commented on #462
I have the same issue with the master branch.

[code]

This is on Gentoo with dev-python/libusb1 2.0.1

[2022-03-11 12:51] jjakob opened #587 "error building master: package directories don't exist"
needs this patch to build
[code]

[2022-03-11 13:06] prusnak commented on #587
Duplicate of https://github.com/bitcoin-core/HWI/pull/577

[2022-03-11 18:33] jjakob commented on #462
https://github.com/trezor/cython-hidapi/issues/90
https://github.com/liquidctl/liquidctl/issues/144
https://bugs.archlinux.org/task/67103?dev=25983

[2022-03-11 18:37] prusnak commented on #462
@jjakob what is the version of python3-hidapi installed on your system?

[2022-03-11 18:41] jjakob commented on #462
dev-python/hidapi 0.11.0.2 from the "guru" overlay. The only other available version is 0.10.1.
I forgot to mention, this issue is also present with the latest HWI release 2.0.2 (also from the "guru" overlay).

[2022-03-11 18:59] prusnak commented on #462
@jjakob I would take this to package maintainers of hidapi in Arch Linux. It seems there is a clash between hidapi and python-hidapi. (My hunch is they update hidapi and dev-python/hidapi not in sync). Anyway, I don't think there is anything we can do here.

[2022-03-11 19:17] jjakob commented on #462
Thank you for that hint, it was indeed because of dev-libs/hidapi 0.8.0 being installed. Updating to 0.11.0 (marked unstable) fixed the issue. I think the relevant Gentoo bug is https://bugs.gentoo.org/696482

[2022-03-11 19:22] #462 closed

[2022-03-13 02:47] Danmor33 opened #588 "Gi"
Some won is connecting to my account

[2022-03-13 08:51] #588 closed

[2022-03-15 16:38] #587 closed

[2022-03-15 16:39] achow101 commented on #587
Should be resolved now that setup.py was regenerated for the next release.

[2022-03-15 16:39] achow101 commented on #578
2.1.0-rc.1 has been tagged.

[2022-03-15 16:44] achow101 opened #589 "Using macOS 10.15 for Mac release builds?"
#397 was resolved by using macOS 10.13 for making the release builds. However when making 2.1.0-rc.1, I ran into issues with using 10.13 and 10.14 for the release. rc1 was released using 10.15.

Do people still use 10.13? Should I try to fix the build issues or is it reasonable to move to 10.15 for new releases?

***

The issues seem related to pyinstaller and some apple built in tools not working

[2022-03-15 22:27] prusnak commented on #589
Anything older than 10.15 is EOL: https://endoflife.date/macos

[2022-03-17 09:18] andrewkozlik commented on #551
The hack for adding external inputs described above is incorrect and indeed cannot work with Taproot. With the next release of Trezor firmware it will cease to work with all script types. There are three possible ways to correctly provide external inputs:
1. Provide a SLIP 19 ownership proof for each external input. Works only in Trezor T.
2. Provide a valid `script_sig` and/or `witness` for each

[2022-03-28 15:58] craigraw opened #591 "Taproot signature issues using Trezor"
I am testing Taproot support in HWI 2.1.0-rc1 against a Trezor One running the latest firmware (1.10.5).

I've run into two issues:
1. HWI in https://github.com/bitcoin-core/HWI/blob/f0021502d470660b9d8a5e79fcc440ac809a610f/hwilib/devices/trezor.py#L624 is adding the Taproot key spend signature to the PSBT_IN_PARTIAL_SIG entries (in contravention to BIP174 which only accepts ECDSA signatures in th

[2022-04-01 15:47] achow101 commented on #591
It shouldn't be unless your PSBT incorrectly contains taproot key entries in PSBT_IN_BIP32_DERIVATION.

Can you provide an example PSBT?

[2022-04-02 06:31] craigraw commented on #591
I see - should BIP 174 not mention this? I couldn't find any reference to it, although it does make sense to not repeat information already provided in PSBT_IN_TAP_BIP32_DERIVATION.

Finalized PSBT attached.

[TrezorTaproot.psbt.txt](https://github.com/bitcoin-core/HWI/files/8401956/TrezorTaproot.psbt.txt)

[2022-04-02 11:27] gruve-p commented on #589
Sounds reasonable to move to 10.15 for new releases.

[2022-04-02 11:31] gruve-p commented on #574
Ping @JamieDriver

[2022-04-04 10:16] JamieDriver commented on #574
Sorry I missed this - thanks for the ping @gruve-p.
I will push a PR with the recommended flag poked into the qemu build - is there a docker image to test this on, or are you happy to try that branch and feedback ?
Cheers.

[2022-04-11 17:05] achow101 commented on #591
I can't find anything that would cause this problem, and we do have tests for this. Are you able to consistently reproduce this failure?

[2022-04-18 06:50] ae33 opened #595 "Support Ledger Nano S Plus"
The [official support page](https://hwi.readthedocs.io/en/latest/devices/index.html) specifies device support for the Ledger Nano S and Ledger Nano X, but not the newly released Ledger Nano S Plus.

When I try to run `hwi enumerate` after [installing HWI](https://hwi.readthedocs.io/en/latest/usage/installation.html) via `pip3 install hwi` on an Arch Linux build with a Ledger Nano S Plus plugged in

[2022-04-19 15:52] mflaxman opened #596 "Any way to do multisig with Ledger via HWI?"
It seems that there is code that supports it here:
https://github.com/bitcoin-core/HWI/tree/master/hwilib/devices/ledger_bitcoin

I'm looking at [the related PR](https://github.com/bitcoin-core/HWI/pull/550) and @achow101 says "I've implemented support for multisigs." Is there somewhere that shows this working / how this works? I can't find it.

I got a full PoC working of exporting an xpub, regis

[2022-04-19 16:05] achow101 commented on #596
Yes, it is. What have you tried to do that does not work?

With the Ledger 2.0 app, in order to sign a multisig the policy needs to be registered on the device first, and then it will send back an HMAC that the client needs to present each time it wants to use that policy. However HWI does not have a way to store this HMAC nor does it have a way to register a wallet with the common interface. What

[2022-04-19 16:23] mflaxman commented on #596
Wait, ledger 1.0 supports multisig!? My understanding was that there was no way to display a multisig address on device, and signing couldn't detect change (effectively making it blind-signing for all but the most expert of users). That's how Electrum's implementation worked, and I had heard that it was a technical limitation that only ledger 2.0 finally enabled so I didn't dig into other implemen

[2022-04-19 16:37] achow101 commented on #596
I suppose our definitions of "do multisig" slightly differ. Both versions of the Ledger Bitcoin app can sign multisigs. Ledger 2.0 will additionally display information about the multisig it is signing.

In both cases, you can use basically the same workflow with HWI and a you will get a signed multisig transaction. With both versions, you can use HWI's `getxpub` to get a xpub that you can use in

[2022-04-19 17:03] mflaxman commented on #596
Ya, I'm talking about:
1. Validating a receive address on the screen of your trusted display before giving it out to anyone for payment
2. Being able to tell what you're signing without blind signing (anything beyond "send X bitcoin to Y address with fee of Z" is too complicated for non-experts)

I feel strongly that it's a terrible idea to ever use a hardware that doesn't natively offer these fea

[2022-04-19 17:26] achow101 commented on #596
HWI does it this way because it is stateless. It cannot remember the HMAC that the ledger returns for use in other commands, so it must do the policy registration each time it does something with the policy. Trezor works because it is stateful and it has the storage to persist the policy, while Ledgers do not have the storage and are stateless and so require the state to be client side. Unfortunat

[2022-04-19 21:18] mflaxman commented on #596
I think maybe you're thinking of single sig? Trezor has been detecting change outputs [statelessly from the transaction since 2015](https://twitter.com/pavolrusnak/status/1166375789534863362). Now with PSBT (HT to you!) this is even easier, [my stateless CLI multisig wallet](https://twitter.com/mflaxman/status/1321503036724989952) validates change by calculating change outputs use the same xpubs/q

[2022-04-20 18:29] maxdignan opened #597 "Micropython Support"
I see that this needs a variety of USB libs to function and is written in Python3 (which I know isn't directly compatible with micropython by any means). What would it take to port this to be usable in a MicroPython environment?

[2022-04-20 21:14] prusnak commented on #597
I am not saying this is impossible, but you'd need to reimplement lots of USB host stuff for Micropython.

What is your usecase?

[2022-04-20 21:17] maxdignan commented on #597
For sure - and that would be pretty tough. The use case is to have a secure device - itself running micropython - interfacing with other hw wallets. Adds extra layer of security and other checks that technically aren't possible to do with assurances on an internet connected device, such as anti-exfiltration.

[2022-04-23 03:19] #597 closed

[2022-04-23 11:44] laanwj commented on #597
FWIW Micropython is definitely based on Python 3 nowadays.

That said, yes it's going to be tons of porting work, some of which board specific (e.g. to the USB host controller core). I'm also of the opinion that maintaining this compatibility is not in scope of this project.

[2022-04-28 18:03] scgbckbone opened #599 "master fingerprint should be lowercase"
I was not sure where to put this information for developers, when trying to implement some new device to HWI, but it should be stated that master fp should be in lowercase format - otherwise core will not be able to sign https://github.com/bitcoin/bitcoin/pull/25019

[2022-04-29 01:25] scgbckbone commented on #599
not a bad idea imo... currently all devices provide lowercase master fp as they mostly use `.hex()` on byte sequence. I discovered this by my own mistake when implementing Tapsigner support (I made master fp uppercase in enumerate). Opened this [PR](https://github.com/bitcoin-core/HWI/pull/600) where we can discuss further implementation details

[2022-05-02 16:25] k9ert opened #601 "ModuleNotFoundError: hwilib.devices.trezorlib.transport.bridge"
This looks like this in one of my tests:
[code]

Here is a linkk to that code:
https://github.com/bitcoin-core/HWI/blob/master/hwilib/devices/trezorlib/transport/__init__.py#L102

I can't see any module like this?!

[2022-05-03 08:47] prusnak commented on #601
It seems that HWI copy of trezorlib does not contain this module: https://github.com/trezor/trezor-firmware/blob/master/python/src/trezorlib/transport/bridge.py

[2022-05-03 14:07] craigraw commented on #591
I am able to reproduce this consistently on HWI 2.1.0 final using both a Trezor One and a Trezor T, both using latest firmware 1.10.5 and 2.4.3.

Here is an input PSBT passed into the Trezor with HWI for signing:
[code]

Which parses as follows:

[code]

Here is the output PSBT returned by Trezor via HWI:
[code]

It parses as follows:
[code]

The signature does not verify against the output key.

[2022-05-03 14:58] achow101 commented on #591
What happens if you omit the sighash field?

[2022-05-03 15:51] craigraw commented on #591
Same result when the sighash field is omitted from the input PSBT. Incidentally, the Trezor adds the sighash field on the output PSBT regardless.

[2022-05-03 17:11] prusnak commented on #591
@craigraw You say you compare the Trezor result to a SW wallet. How about other HW wallets? Did they sign fine via HWI?

[2022-05-03 17:27] achow101 commented on #601
Are you accessing HWI's built-in trezorlib directly? AFAICT HWI does not use anything that reaches this line so we don't see this error.

If you are, this kind of usage is not supported.

[2022-05-03 18:04] achow101 commented on #591
I was able to reproduce, and AFAICT, each party involved has a bug which contributes to this problem.

1. Your PSBT has `PSBT_OUT_BIP32_DERIVATION` for the taproot internal key of the change output. This is incorrect as that implies an ECDSA signature. It should be `PSBT_OUT_TAP_BIP32_DERIVATION`.
2. HWI sees the key in `PSBT_OUT_BIP32_DERIVATION` and sets the script type to `PAYTOWITNESS` instead

[2022-05-03 18:44] prusnak commented on #591
Thanks Andrew for investigating this!

[2022-05-04 07:39] k9ert commented on #601
This issue occurs while instatiating the TrezorClient like this:
[code]
In HWI 2.0.2 the TrezorClient got instatiated like this:
[code]
which results in this issue in 2.1.0:
[code]

So i did what's written in the documentation of the class:
[code]

[2022-05-04 10:14] craigraw commented on #591
Thanks Andrew - this was indeed the cause, and I now that I've fixed the Sparrow side I can confirm that Taproot signing works on both Trezor One and T.

I also tested your change detection PR, and can confirm that it's fixes the issue of correctly detecting the change output for Taproot spends.

Closing this off.

[2022-05-04 10:14] #591 closed

[2022-05-05 16:50] k9ert commented on #601
Ok, got it instead of:
[code]
i did
[code]
and it now works. It was not obvious to me. Thanks.

[2022-05-05 16:50] #601 closed

[2022-05-06 18:58] rachyandco commented on #595
this also the case on Ubuntu 22.04 and hwi 2.1.0 using a Ledger Nano S Plus.

[2022-05-12 07:37] craigraw commented on #596
Does it make sense for HWI to return the HMAC as an additional JSON field in those calls where the wallet policy is registered, and to accept it as an optional parameter for future calls that can use it to avoid repeat registration? Wallet software can then offer the stateful backing HWI lacks.

[2022-05-18 21:55] #595 closed

[2022-05-21 16:25] achow101 opened #605 "Ledger app 2.0.4 fails to sign"
Several users are reporting signing failures when using Ledgers with Bitcoin app version 2.0.4. The error is:

[code]

[2022-05-21 16:27] achow101 commented on #605
I am unable to replicate the issue with speculos on self built app version 2.0.4. However I was able to replicate using a Nano S Plus with the released app binary.

cc @bigspider

[2022-05-21 16:53] achow101 commented on #605
Found it, Ledger doesn't like `h` in key origin info.

[2022-05-21 17:02] DeGxx commented on #605
Hello, i have the same issue. My english is not very good, i don't understand if you have found a solution or not ?

[2022-05-21 17:09] achow101 commented on #605
I am working on a fix.

[2022-05-22 14:09] FrankDev34 commented on #605
Talk to Ledgerwallet Support on the [Live support chat](ledger-community.com) so that your issue can be looked into.

[2022-05-22 14:11] prusnak commented on #605
This is a scam comment but luckily came from a stupid person who doesn't know how markdown works.

[2022-05-23 15:50] #605 closed

[2022-05-25 02:40] NicolasDorier commented on #605
I don't think it fix it completely.

I have some tests that were passing before but now, I tried to sign a PSBT in testnet and I got the same error.

Then tried to sign a PSBT in mainnet, it worked, but only for legacy addresses. For segwit I get same error.

[2022-05-25 05:30] bigspider commented on #605
@NicolasDorier do you have a failing PSBT from those tests?
Is the previous transaction included in the PSBT?

[2022-05-25 14:50] craigraw opened #608 "Error signing Taproot inputs on Ledger devices"
When signing transactions from a Taproot wallet on Ledger (both mainnet and testnet), the device accepts the PSBT provided and permits the user a full confirmation of the transaction details (including fee). On accepting the transaction however, the device returns the following error via HWI:
[code]

Example PSBT: [Ledger Taproot.psbt.txt](https://github.com/bitcoin-core/HWI/files/8772057/Ledger.T

[2022-05-26 00:18] achow101 commented on #608
The test suite passes with 2.0.1 through 2.0.3 but starts failing with 2.0.4. There's nothing in the [changelog](https://github.com/LedgerHQ/app-bitcoin-new/blob/develop/CHANGELOG.md) that stands out as causing the break. Will debug further.

[2022-05-26 18:55] achow101 commented on #608
@craigraw Does this PSBT happen to not belong to the device(s) you are trying to sign with? I tthink 2.0.4 may have changed something about how external inputs are handled.

[2022-05-26 21:03] achow101 commented on #608
Hmm, I think the problem I am debugging is different from the one in this issue. The one I am seeing is with status `0xb007` but this is `0x6a82`. @craigraw you are certain that you used HWI 2.1.1?

[2022-05-27 06:16] craigraw commented on #608
It definitely belongs to the device. The code creating it is the same as that creating the PSBTs for Trezor.

Yes. Sparrow v1.6.5 (released yesterday) contains HWI 2.1.1, and I have recreated the error on both MacOS and Ubuntu.

[2022-05-27 17:26] achow101 commented on #608
I was able to replicate the issue. This is an issue with the way that ledger handles the sighash type field. It appears that it does not recognize SIGHASH_DEFAULT (which is what your PSBT has).

I have opened an issue with Ledger: https://github.com/LedgerHQ/app-bitcoin-new/issues/47

[2022-05-27 17:26] #608 closed

[2022-05-27 17:28] achow101 opened #609 "Ledger: Unable to sign transactions with mixed input types"
If a transaction has multiple inputs of different script types, the device returns an error with status `0xb007`

[2022-05-27 17:29] achow101 commented on #609
This has been traced to an issue with the ledger app: https://github.com/LedgerHQ/app-bitcoin-new/issues/46

[2022-05-27 17:29] #609 closed

[2022-05-27 17:32] achow101 commented on #605
@NicolasDorier Do your PSBTs have mixed input script types (e.g. a P2WPKH and a P2TR)? Or do you have SIGHASH_DEFAULT set? If so, see #608 and #609 respectively. Those are issues with the Ledger apps and not something that HWI can particularly fix. Otherwise please open a new issue.

[2022-06-02 06:02] NicolasDorier commented on #605
Will open new issue with PSBTs and mnemonic. I don't have SIGHASH_DEFAULT nor P2WPKH

[2022-06-02 06:27] NicolasDorier commented on #605
So for record @achow101, the error is also sent if you are using segwit without the non_witness_utxo. (didn't check if that's the case for taproot)

This is a breaking change with their old app which merely show a warning.

[2022-06-05 20:20] bigspider commented on #605
@NicolasDorier the new app is completely rewritten from scratch (and with a redisigned/incompatible API). I purposely added a number of limitations on what's allowed. In most cases, I don't expect the limitations to be relevant or even noticed (and limiting the user's behaviors to _sane_ ones is useful for a number of reasons).

I wasn't aware that there is external software that still doesn't pro

[2022-06-08 11:05] Sjors commented on #572
On macOS with Python 3.9.13 via PyEnv, after doing `poetry install` I got a `No module named 'typing_extensions'` when calling `./hwi —version`. But not sure if related.

[2022-06-08 11:13] Sjors commented on #572
Mmm, actually I think that error was because after a `poetry install` I also need a `poetry shell` in order for HWI to work, though the README suggests that's not necessary.

[2022-06-08 19:05] bigspider commented on #609
The fix is released in version 2.0.6, just deployed. Thank you @achow101!

[2022-06-08 19:14] bigspider commented on #605
Update: version 2.0.6 of the app now allows signing segwitv0 transaction with no non_witness_utxo, with a warning.
SIGHASH_DEFAULT still planned for the next release.

[2022-06-10 13:07] djpnewton opened #613 "enumerate function hangs with locked bitbox02"
if a user has not yet touched one of the bitbox02 start screen arrows (to indicate which side is up) `hwi enumerate` will work the same as with a locked ledger nano x and return nothing

it seems that once a user has touched one of the bitbox02 start screen arrows then the `hwi enumerate` function will hang until the bitbox02 is unlocked which can cause problems especially for GUI applications tha

[2022-06-22 11:31] scgbckbone commented on #599
resolved by this [PR](https://github.com/bitcoin/bitcoin/pull/25019) to core - case no longer matters

[2022-06-22 11:31] #599 closed

[2022-06-29 23:20] pvig0q1s opened #618 "ClamAV/positives in hwi executable"
Hello achow101,

I scanned some directories using clamav on linux.

hwi-2.1.x-linux-amd64/hwi gives a positive 'Unix.Dropper.Python-9950644-0' in the latest two builds, 2.1.1/2.1.0.

(positive) HWI 2.1.1 / May 24, 2022 ($ sha1sum hwi	3145c69f6ecb5ee4674ba523cdea980e91868662)
(positive) HWI 2.1.0 / Apr 15, 2022 ($ sha1sum hwi	7969241543249ca5be6085ac9724dbe8e3afb407)
(noresults) HWI 2.0.2 / Jun 01,

[2022-07-03 06:19] santochibtc commented on #613
For me the hwi enumerate never ends, even after unlocking with the pin and introducing the passphrase

[2022-07-11 04:57] benma commented on #613
That unlock happens during unlock is by design and was introduced in https://github.com/bitcoin-core/HWI/pull/404. Is this still how it should behave @achow101 or did something change?

[2022-07-13 00:26] Francisco-DAnconia opened #620 "Multisig signing on Trezor T missing transaction details"
A new addition to HWI has detrimentally affected the use of the Trezor in multi-signature applications.

I'm told this occurred when Sparrow updated HWI from 2.0.2 to 2.1.1. Testing was done use Sparrow 1.6.3 & 1.6.5 along with a Trezor Model T with firmwares: 2.43 & 2.5.1.

The Trezor is a stateless hardware keystore. So, one cannot register co-signer XPUBs with the Trezor for a multi-signature w

[2022-07-13 01:12] achow101 commented on #620
The change detection is done with the co-signer xpubs. See #497

It is not possible to mark a particular output as change from the software side. Rather all we can do is provide data to the Trezor which will determine what is change. As PSBTs can contain the co-signer xpubs, we can construct the multisig templates in use and provide them to the Trezor so that it can compute the correct addresses a

[2022-07-13 01:12] #620 closed

[2022-07-13 13:15] prusnak commented on #620
Yes. The address is hidden when it is a change address generated from the same set of keys that were used on the input side.

[2022-07-13 13:24] mflaxman commented on #620
Not just same set of keys, but also threshold/quorum! For collaborative custodians (Casa/Unchained), going from 2-of-3 to 1-of-3 would be a major vulnerability! Last I checked Trezor has been handling this correctly for ~6 years in CHANGE validation (receive address validation is a separate thing outside the scope of this GitHub issue).

[2022-07-13 13:36] prusnak commented on #620
Yes, that's what I meant. Thanks!

[2022-07-13 16:24] Francisco-DAnconia commented on #620
Well this looks to be a real education. Thanks.

I assumed that generation of RECEIVE addresses and CHANGE addresses was a similar process of using the leaf public key as determined by the XPUBs & derivation path. But I must be missing something _significant_ if RECEIVE address verification is difficult with a stateless device, but CHANGE address verification is trivial.

What am I missing?

### M

[2022-07-13 16:38] prusnak commented on #620
How exactly would an attack you have on your mind work? You assume that an attacker can craft a change address under their control but inputs are not under their control, right?

[2022-07-13 16:58] achow101 commented on #620
No. The Trezor can be provided with co-signer xpubs and the threshold for each multisig input and output. It can detect change by checking whether the multisig policies are identical between the inputs and a particular output. It verifies that the multisig matches the inputs and outputs by computing the expected scripts from it and checking against what is provided for those inputs and outputs.

I

[2022-07-13 19:55] Francisco-DAnconia commented on #620
Thanks. I think I'm grasping this now. Let me re-phrase and attempt to answer my misconceptions. (Please let me know if I've got it or not - Thx)

The PSBT contains an input (UTXO) which must meet certain requirements (redeemScriptHash preimage, signatures) to spend. This requires the leaf public keys derived from the XPUBs and a quorum of signatures. These same XPUBs can generate the public keys

[2022-07-13 19:56] Francisco-DAnconia commented on #620
I'm curious if this attack is currently handled and/or thwarted:

What if the malware crafted the transaction such that the INPUT and CHANGE address were under the control of the same XPUBs. But the attacker modified the CHANGE address index to something bizarre, routing the change to an address index somewhere among the 4 billion possibilities.  Then a ransom follows.

[2022-07-18 15:26] craigraw opened #621 "Failure to cleanup temporary directory on crash"
When HWI experiences a crash (which can happen for example when Ledger Live is also running), pyinstaller fails to delete the temporary directory it creates when expanding `hwi` into a directly executable form. A couple of Sparrow users have reported that if executed multiple times in this situation, the `tmp` directory gradually fills up with 50Mb folders that look like `_MEIxxxxxx`.

As I noted

[2022-07-18 15:29] prusnak commented on #621
It seems the issue was fixed in a PR that was merged 7 days ago, while the latest pyinstaller 5.2 release is 10 days old. I guess we need to wait for 5.3 release?

[2022-07-18 15:35] craigraw commented on #589
Fwiw I rebuild HWI (using `--onedir`) on macOS 10.13 as Sparrow users still request it. Published EOLs aside, Macs tend to have a long operating life and older ones cannot be updated to the latest OS.

[2022-07-20 07:08] JavierRSobrino opened #622 "I don't have a Ledger, but it detects one"
I was redirected from Sparrow support. Doing this:

[code]
It detects a Ledger, but I never had one, and of course it has never been connected to my computer. Also, I'm not aware I ever installed the Ledger Nano Emulator.

So when I use Sparrow Wallet it is always showing this uncomfortable error:

![image](https://user-images.githubusercontent.com/6039997/179918126-3e9dde8a-8cae-4bd3-8342-1aab5b0

[2022-07-20 22:18] JavierRSobrino commented on #622
Yes, I have a service in 9999, I changed the port of it and now there is not a problem. Thank you.

Anyway, isn't there a better way to detect if a service in port 9999 is a Trezor one or not?

[2022-07-20 22:28] achow101 commented on #622
The detection could probably be improved.

[2022-07-20 22:28] #622 closed

[2022-07-26 11:03] Szpoti opened #623 "Ledger Nano S and X : `Ledger requires BIP 44 standard paths`"
After upgrading HWI from **2.0.2** to **2.1.1** _(FTR, same story with **2.1.0**)_, our unit tests related to Ledgers fails and we can't use Ledger Nano X and S to send.

Our tests fails when we send the **display address command** as follows:
[code]
and we get back the following response:
[code]

Before the new releases, there was no problem with either the tests or sending.
For testing purposes,

[2022-07-26 17:06] achow101 commented on #623
On the ledger, are you using the Bitcoin app or the Bitcoin Testnet app?

[2022-07-27 10:11] Szpoti commented on #623
The Bitcoin app. For the unit tests, the network is also set to `MainNet`.

[2022-07-27 10:36] Szpoti commented on #623
**Update:**
After following the steps to install the Bitcoin Testnet app, I was able to send on TestNet with Ledger with `AccountKeyPath: "84'/1'/0'"`, thats great! 🙏
So I assume maybe the problem is with the command above?

[2022-07-27 13:09] adamPetho commented on #623
Sorry guys, the HWI is fine. Our tests were a bit out-dated.

[2022-07-27 13:19] #623 closed

[2022-07-28 09:51] craigraw opened #624 "Unusual P2SH derivation path causes signing on Trezor to fail"
Unchained Capital uses two unusual derivation paths when creating their standard P2SH 2-of-3 multisig wallets: `m/45'/0/0/0` and `m/45'/0'/0'/0`. These derivation paths cause HWI to return an error when attempting to sign with a Trezor. It appears this is new behaviour as of HWI 2.1.0 (it did not occur in previous versions).

To reproduce this, I created a multisig P2SH wallet with a Trezor as one

[2022-07-28 10:04] prusnak commented on #624
@matejcik any ideas?

[2022-07-28 10:12] matejcik commented on #624
This would happen if HWI selected wrong script type. Multisig is supported for `MULTISIG`, `P2SHSEGWIT` and `SEGWIT`. That leaves `ADDRESS` and `TAPROOT` as the wrong choices.

[2022-07-28 10:14] matejcik commented on #624
more specifically, BIP45 aka P2SH multisig should use the `MULTISIG` script type. My guess is HWI is not recognizing the nonstandard paths as BIP45 and defaults to `ADDRESS` script type?

[2022-07-28 10:39] prusnak commented on #624
Ah, this is probably related to https://github.com/trezor/trezor-firmware/issues/1526 (Trezor does not support BIP67 sortedmulti).

@craigraw does it work if you use `sh(multi(...))` ?

[2022-07-28 10:59] craigraw commented on #624
No, that produced the same result, but then again it would not change the PSBT.

Incidentally, the descriptor is used when asking HWI to display an address using the `--desc` parameter. This fails with any P2SH path I have tried, for example the one below, with the error `No path supplied matched device keys`:
[code]

Another P2WSH multisig wallet I tried though worked without errors, the Trezor d

[2022-07-28 16:51] achow101 commented on #624
You are certain that the difference is only in the derivation path?

I suspect this might be an issue with all p2sh multisigs regardless of derivation path as it looks like when we prepare the outputs for multisig change detection, we are not setting the type to `MULTISIG`. Rather it defaults to `ADDRESS` for p2sh. With segwit, we are setting `WITNESS` and `P2SHSEGWIT` independently of the multisi

[2022-07-28 17:13] craigraw commented on #624
Yes - I am able to get the Trezor to sign successfully with the following wallet:
[code]

The only difference in creating this wallet was the derivation paths used.

[2022-07-29 16:13] achow101 commented on #624
@craigraw Try #625

[2022-07-30 06:47] craigraw commented on #624
Thanks, have posted my results there.

[2022-07-31 06:50] craigraw commented on #621
Pyinstaller 5.3 has now been released, and includes fixes for this issue on both POSIX and Windows platforms: https://pyinstaller.org/en/v5.3/CHANGES.html#id1

[2022-08-01 11:04] prusnak commented on #621
It seems that pyinstaller 5.3 requires python 3.7. We could bump pyinstaller to `^5.3` in `pyproject.toml`, but we'd need to bump python from `^3.6` to `^3.7`. What do you think @achow101?

[2022-08-02 13:32] benma opened #626 "protobuf and Python 3.6 compatibility problems - drop support for Python 3.6, support 3.7?"
Hi

tl;dr: can HWI drop support for Python 3.6 to be in line with the up to date protobuf package version, [which also dropped support for Python 3.6](https://github.com/protocolbuffers/protobuf/releases/tag/v3.20.0)? Also, Python 3.6 reached end-of-life on Dec 23, 2021 and is not receiving security fixes anymore.

Details:

[protobuf v3.20](https://github.com/protocolbuffers/protobuf/releases/tag

[2022-08-02 13:39] benma commented on #626
Fyi:

Python 3.6 reached end-of-life on Dec 23, 2021 and is not getting any security updates anymore. This is the reason protobuf dropped support, and it makes sense imo to do the same for HWI.

[2022-08-18 04:51] minioff opened #628 "Trezor detection issues"
Hi,

having issues with HWI on Ubuntu 18.04.6 LTS and Trezor T and HWI 2.1.1.

Observe:
[code]

So it seems like two issues:

- Device detected as Jade ?
- It takes about 1 minute or more to get a response

Tested different cable, different usb port, different hw wallet (also model t). Do not see any issues with bridge, trezord or trezor suite.

[2022-08-23 20:26] #624 closed

[2022-08-25 11:32] martinbarilik commented on #605
confirming that version 2.1.1 fixes the above error message ( previous version 2.0.x )

[2022-09-06 09:18] Sjors commented on #501
Closing this, since at least some wallets now have basic Taproot keypath support.

Shameless plug for https://github.com/bitcoin/bitcoin/pull/23578 which adds Bitcoin Core support for importing keypath descriptors from an external signer.

[2022-09-06 09:18] #501 closed

[2022-09-06 11:04] ididdid commented on #605
A quick note : AFAIK, it is a confirmed compatibility issue with latest ledger firmware + ledger btc app and some multisig wallet like Sparrow.
As today, we just tested again, on september 6th : sparrow 1.6.6 with latest firmware for Ledger Nano S (2.1.0) still has this issue.  Same Issue with Ledger S+.
(The only 2.1.1 firmware release available is only for Ledger Blue)

[2022-09-06 12:05] bigspider commented on #605
@ididdid the current (2.0.6) version of the Ledger bitcoin app requires using SIGHASH_ALL instead of SIGHASH_DEFAULT. They are essentially equivalent in meaning, so it's safe to use SIGHASH_ALL.

Sparrow correctly uses SIGHASH_DEFAULT as the default choice, but I believe it is now possible to manually choose SIGHASH_ALL, and that should work. Please let me know if that is not the case, and I will

[2022-09-06 23:40] hodlwave commented on #596
@achow101 would you mind responding to the [last comment](https://github.com/bitcoin-core/HWI/issues/596#issuecomment-1124637176) from @craigraw?

[2022-09-07 00:37] achow101 commented on #596
I don't think it makes sense to do that as part of `signtx`, however it could make sense as a separate policy registration command if other wallets also support a similar workflow. I don't think it's useful to implement a feature that only one kind of device supports.

[2022-09-18 16:40] santochibtc opened #630 "enumerate function hangs"
I am trying to use the BitBox2 wallet with Sparrow in Windows10 but the enumerate function hangs.
I have debugged the code and the problem appears calling
`jade.get_version_info`
this ends up calling to
`read_cbor_message`
that tries to read from a TCP socket
`# Throws EOFError on end of stream/timeout/lost-connection etc.`
`            message = cbor.load(self)`
and the recv method hangs forever,

[2022-09-19 08:53] JamieDriver commented on #630
ok, enumeration doesn't block/hang for me (on linux) but I'll certainly look at adding that set-not-blocking call into the underlying python class if it doesn't have any negative impacts.
Ideally we wouldn't even be running this code (looking for a jade 'simulator') outside of running the test suite - but I don't know if that sort of thing is supported.
Thanks for the ping @prusnak

[2022-09-19 12:15] JamieDriver commented on #630
@santochibtc I have updated the jade code to respect the passed timeout at https://github.com/bitcoin-core/HWI/pull/631.

If this change works for you, I'll include it in  https://github.com/bitcoin-core/HWI/pull/629 (in fact I'll delay that PR slightly and update to the next jade release version so the above change is included in the api files copied in).

[2022-09-19 16:17] JamieDriver commented on #630
OK, that's cool.  Many thanks for the report and the testing.

[2022-09-23 16:49] JamieDriver commented on #630
Should be addressed by #629

[2022-09-28 14:01] giacomocaironi opened #633 "Error when using bundled hwi-qt"
When downloading the lates release and running hwi-qt I get the following error:

[code]
Then nothing happens for about 40 seconds, until I get the following error:

[code]
After this the gui pops up and everything works as expected.

I run Pop!_OS 22.04 LTS

Related to #476 and #480

[2022-10-12 12:54] nadahalli opened #636 ""sendpin" command hangs when connected to a Trezor Model One"
Commands to reproduce the problem.

[code]
[code]
When this command runs, the device shows the keypad in a randomzied order, for example:

2 3 5
6 7 1
9 4 8

Say my pin is "1111", I believe I have to send the pin "9999" (real pin mapped to the randomized keypad).

`$./hwi --device-type trezor sendpin 9999`

This command hangs in the TrezorLib interruptRead command here: https://github.com/bitcoin-

[2022-10-12 13:04] prusnak commented on #636
No. To enter the PIN 1111 you have to enter 6666. (It's the other way around).

[2022-10-12 13:28] prusnak commented on #636
Does it help if you reboot and try again? (Do not start Trezor Suite before!)

[2022-10-12 13:33] nadahalli commented on #636
I can start again at "enumerate" if I disconnect and reconnect the hardware wallet. Promptpin works after that, but sendpin fails again. Is that what you mean?

[2022-10-12 13:49] prusnak commented on #636
No, reboot is as in reboot your computer.

[2022-10-12 13:50] prusnak commented on #636
Also, do you have the udev files installed? https://wiki.trezor.io/Udev_rules

[2022-10-12 15:32] nadahalli commented on #636
Reboot of the computer doesn't help.
Yes, I have installed Trezor's udev rules. That doesn't seem to help either.

Without "priming" the Trezor with the promptpin command, just sending a dummy sendpin command doesn't hang, but returns a success: false message.

[code]
In other information, I have the following versions of the software.

[code]

Trezor firmware version 1.11.2

[2022-10-12 15:41] prusnak commented on #636
Any ideas @matejcik ?

[2022-10-12 20:52] Whiskey992 commented on #636
You can't hijack user account bitcoin will not allow it will lock everytime

[2022-10-13 12:20] tracy434 commented on #636
@

hello @nadahalli I will suggest you talk with a Trezor Developer concerning this issue,on their Trezor live chat Developer's support page. [click here](https://trezorforum.live/) Using your TICKET ID: #619589
to engage in a conversation with a representative from Trezor support and have the transaction looked into so as to resolve it right away.

[2022-10-13 12:35] prusnak commented on #636
@achow101 can you please block the above user and remove their post? this is a phishing attempt.

[2022-10-13 13:08] matejcik commented on #636
I can reproduce the problem locally.
It seems that when using `-t trezor` but not `-d <path>`, hwi tries to enumerate devices.
This tries to query the Trezor for its features.
That cannot be done while Trezor is waiting for PIN, so Trezor ignores the message, so you get stuck at reading from device.

[2022-10-14 15:53] nadahalli commented on #636
Passing the device path works, as it prevents the find_device call.

[code]
The offending call is here: https://github.com/bitcoin-core/HWI/blob/e731395bde13362950e9f13e01689c475545e4dc/hwilib/_cli.py#L280, where without --device-path, HWI does a find_device. I guess it cannot be really fixed because if the path is not known, you have to find the device anyway. For now, I will just use both and ma

[2022-10-17 07:38] benma commented on #626
@achow101 a response needed - this is blocking us from updating the bitbox02 package in HWI, preventing the protobuf incompatibility issue to be fixed, which breaks downstream wallets for our customers.

[2022-10-17 14:19] achow101 commented on #626
I will try to take a look this week, been busy with other work and travel recently.

[2022-10-17 17:49] instagibbs commented on #478
bumping this issue now that I'm playing with jade.

`requests` seems to be installed by poetry, but not by `pip3 install .`. Is this the expected installation flow?

[2022-10-17 18:04] prusnak commented on #478
With poetry, `requests` are installed via `sphinx` as its dependency.

Since setup.py does not mention sphinx, it also does not install requests.

[2022-10-17 18:05] instagibbs commented on #478
sure, I suppose I meant is this the *intended* flow, prescriptively

[2022-10-18 21:24] achow101 commented on #618
This is a false positive. It's unclear to me what they are matching on, but there isn't much that can be done about that.

[2022-10-18 21:24] #618 closed

[2022-10-18 21:28] #467 closed

[2022-10-28 21:24] #621 closed

[2022-10-28 21:24] #626 closed

[2022-10-28 21:25] #630 closed

[2022-10-30 07:00] prusnak opened #639 "Trezor: it should be possible to use an empty passphrase"
In case a user enters empty passphrase on Trezor, it should work and a passphrase-less wallet should be open (the same as on a Trezor with passphrase protection off).

It seems that HWI disallows empty passphrases leading to confusions such as:
* https://github.com/cryptoadvance/specter-desktop/issues/1946
* https://github.com/sparrowwallet/sparrow/issues/240

[2022-11-09 17:28] prusnak commented on #628
Honestly, this seems like the Jade code being the culprit interrupting the standard Trezor flow.

@achow101 Is there a way how to turn off support of a particular HW wallet at start? Maybe via `--skip-jade` switch or something like that.

// cc @JamieDriver

[2022-11-10 08:25] JamieDriver commented on #628
I'm guessing the trezor has already enumerated ok, but then the enumerate loop moves onto jade ?
[code]
This is where the code is probing for the test jade simulator by trying to connect to the simulator port, `tcp:127.0.0.1:2222`.
It would appear that maybe there is something running on this port ?
Saying that, everything inside 'test for simulator' is supposed to catch any errors and just ignore

[2022-11-10 10:09] JamieDriver commented on #628
Yeah, that may be the simplest option!  Will look into it asap.

[2022-11-14 19:37] moneymanolis commented on #639
@achow101 - any update / input on this from your side?

[2022-11-14 22:27] achow101 commented on #639
It's not clear to me what the actual issue is, can you provide a reproduction for HWI?

I don't see anything in HWI that prevents using the empty passphrase. It's not explicitly disallowed; it should just be passing the empty passphrase straight through to the device.

[2022-11-15 11:33] JamieDriver commented on #628
Jade master branch updated to run simulator on 30121 - hwi test client updated in #645

[2022-11-15 17:27] danielabrozzoni opened #646 "trezor emulator: can't set up the device"
Hey,
I'm trying to set up a trezor emulator using this command:
[code]
The emulator prompts me with a "Enter new pin" screen and, immediately after, hwi returns this error:
[code]

If I try to enter the new PIN in the emulator, it freezes.

Any idea how to solve this?

[2022-11-15 21:46] achow101 commented on #639
@moneymanolis Can you test #644

[2022-11-16 09:14] moneymanolis commented on #639
Will do asap. Thanks for responding so quickly with a PR.

[2022-11-17 15:09] moneymanolis commented on #639
Initial testing results @achow101:
On hwi master this does NOT work:
`./hwi.py -t "trezor" -d "webusb:020:2:4" --password "" enumerate`

Result is:
[{"type": "trezor", "path": "webusb:020:2:4", "label": "temp", "model": "trezor_1", "needs_pin_sent": false, "needs_passphrase_sent": true, "error": "Could not open client or get fingerprint information: Passphrase needs to be specified before the fing

[2022-11-17 17:24] achow101 commented on #639
Not necessarily. I think that's just an issue of what users expect. Do they expect it to work if passphrase protection is enabled but no passphrase is provided? Or should they expect to always need to provide a passphrase, even if it's the empty string?

I guess either way the behavior should be unified as it currently is not as you point out.

[2022-11-17 17:35] prusnak commented on #639
@matejcik Can you weigh in and tell us what is the behaviour that makes most sense (so it is aligned with how we do stuff in python-trezor/trezorctl/Suite)?

[2022-11-17 21:50] moneymanolis commented on #639
Using those changes in Specter https://github.com/cryptoadvance/specter-desktop/pull/1977 and the PR from hwi (https://github.com/bitcoin-core/HWI/pull/644) works for me!

[2022-11-18 14:27] moneymanolis commented on #639
We have a bunch of Specter Desktop users who at some point had the passphrase feature enabled but didn't use it in the sense that they used an empty string only. Technically, and the Trezor teams knows this much better, the part of  the PBKDF2 function (the salt part) from BIP39 where the passphrase goes is never really empty. It is always filled with the string "mnemonic" and if there is a passph

[2022-11-18 14:42] matejcik commented on #639
Right now there's actually a split between trezorctl and Suite.
trezorctl does the easy thing and if passphrase is enabled, always asks for it.
Suite enables passphrase by default even for people who never use the hidden wallet feature. By selecting the "default wallet", you auto-open the `""` passphrase.

The Suite behavior is the more correct one UX-wise. So I believe that if the passphrase is n

[2022-11-19 20:23] debben commented on #605
I'm seeing the same on 2.0.6 of the Ledger bitcoin app and sparrow 1.7.0. I verified the PBST created used SIGHASH_ALL but I'm still seeing this error.

[2022-11-21 08:27] bigspider commented on #605
Thanks for reporting!

That's strange − but the new Ledger bitcoin app (version 2.1.0) is coming within the next few weeks and it handles all sighash flags, so it will hopefully address this issue once and for all.

[2022-11-23 05:24] BillDner opened #650 "."
.

[2022-11-23 05:36] #650 closed

[2022-11-27 17:44] debben commented on #605
False alarm. This ended up being unrelated to any issue with HWI or the bitcoin app for ledger. Turns out I had a misconfiguration in the sparrow wallet (correct XPUBs but a duplicate fingerprint for one of the signers). This was enough to get the 0x6a80 mentioned in the issue. After correcting the wallet I was able to sign again with a nano s plus and 2.0.6 bitcoin app.